.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .60in; /* Add 1-inch padding */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  background-color: black;
  border: 0.5in solid black;
  position: relative;
}

.hero-content {
  text-align: left;
  max-width: 50%;
  border: none;
}

.hero h1 {
  font-size: 4rem;
  margin: auto;
}

.hero h2 {
  color: #00bcd4;
  font-size: 3rem;
}

.hero p {
  margin: 2rem 0;
  max-width: 70%;
}

.hero button {
  padding: 1rem 1rem;
  background-color: #00bcd4;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.hero-image {
  max-width: 100%%;
  padding-top: 2rem;
  padding-right: 2rem;
}

.hero-image img {
  max-width: 90%;
  height: auto;
}

.profile-card {
  width: 200px;
  height: 400px;
  background-color: rgba(119, 118, 118, 0.95);
  padding: 0.3in; /* Add padding */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0.5in; /* 0.5-inch border from the right */
  top: 70%; /* Center vertically */
  border-radius: 5px;
  transform: translateY(-50%);

}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-details {
  text-align: center;
  margin: 5px 0px;
}

.profile-details h3 {
  font-size: 1.3rem; /* Adjust font size */
  font-weight: bold;
  color: black; /* Change font color to black */
}

.profile-details h4 {
  font-size: 1rem; /* Adjust font size */
  margin-top: -10px;
  color: #00bcd4; /* Change font color to #00bcd4 */
  font-weight: bold;
 
}

.profile-details p {
  font-size: 0.95rem; /* Adjust font size */
  max-width: 805%;
  padding: 10px 0px

}