.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1in; /* Add 1-inch padding */
  margin-top: 30px; /* Adjust for reduced topbar height */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  background-color: black;
  width: 100%;
  height: calc(100vh - 30px); /* Subtract topbar height */
  position: relative;
}

.hero-content {
  text-align: center;
  max-width: 50%;
}

.hero h1 {
  font-size: 2.5rem; /* Adjust font size for better scaling */
}

.hero h2 {
  color: #00bcd4;
  font-size: 1.5rem; /* Adjust font size for better scaling */
}

.hero p {
  margin: 1rem 0;
}

.hero button {
  padding: 0.5rem 1rem;
  background-color: #00bcd4;
  border: none;
  color: white;
  cursor: pointer;
}

.hero-image {
  max-width: 50%;
  padding-top: 2rem;
  padding-right: 2rem;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.profile-card {
  width: 150px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.25in; /* Add padding */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0.5in; /* 0.5-inch border from the right */
  top: 50%; /* Center vertically */
  transform: translateY(-50%);
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile-details {
  text-align: center;
}

.profile-details h3 {
  font-size: 1rem; /* Adjust font size */
  font-weight: bold;
  color: black; /* Change font color to black */
}

.profile-details h4 {
  font-size: 0.8rem; /* Adjust font size */
  color: #00bcd4; /* Change font color to #00bcd4 */
  margin: 0.5rem 0;
}

.profile-details p {
  font-size: 0.7rem; /* Adjust font size */
}

@media (max-width: 768px) {
  .profile-card {
    width: auto;
    right: 0;
    top: auto;
    transform: none;
    position: static;
    margin: 1rem 0;
  }

  .hero {
    height: auto;
  }

  .hero-content, .hero-image {
    max-width: 100%;
  }
}

.animated {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
